h4 {
    font-size: large;
}

.video{
    text-align: center;
}

.video p {
    text-align: left;
    margin-bottom: 2em;
}

.principais-botoes{
    padding-top: 30px;
}

.principais-botoes h3{
    font-size: 30px;
    font-weight: 400;
    color: hotpink;
    margin: 0;
    text-align: center;
}

.botoes{
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.botao{
    width: 250px;
    /* border: solid black 3px; */
    background-color: #f7f4f4;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    box-shadow: 10px 10px 8px #888888;
    margin-top: 30px;
}

.botao img{
    width: auto;
    height: 100px;
}

.botoes :first-child img{
    width: 100%;
}

.botao h6{
    font-size: 20px;
}

.botao p{
    text-align: left;
}